:root {
     --font-up-1: 1.08em;
     --shadow-header: 0 0 0 2px var(--primary);
     --primary-medium: #121212;
     --primary-med-or-secondary-high: #403e3e;
     --primary-low-mid-or-secondary-high: #646464;
 }
 @media (prefers-color-scheme: light) {
    :root {
        --scheme-type: dark;
    }
    .title > a {
        background-image: url(https://raw.githubusercontent.com/autonity/autonity-media-kit/main/03_autonity-wordmark/autonity-wordmark-black-withborders.svg);
    }    
}
@media (prefers-color-scheme: dark) {
    :root {        
        --scheme-type: dark;
        --primary: #ffffff;
        --secondary: #111111;
        --tertiary: #ffffff;
        --quaternary: #1ab8ca;
        --header_background: #111111;
        --header_primary: #cccccc;
        --highlight: #141414;
        --danger: #37fffe;
        --success: #ff6600;
        --love: #059372;
        --d-selected: #2e0f00;
        --d-hover: #141414;
        --always-black-rgb: 255, 255, 255;
        --primary-rgb: 255, 255, 255;
        --primary-low-rgb: 24, 24, 24;
        --primary-very-low-rgb: 7, 7, 7;
        --secondary-rgb: 17, 17, 17;
        --header_background-rgb: 17, 17, 17;
        --tertiary-rgb: 255, 255, 255;
        --highlight-rgb: 20, 20, 20;
        --success-rgb: 255, 102, 0;
        --primary-very-low: #070707;
        --primary-low: #181818;
        --primary-low-mid: #c1c1c1;
        --primary-medium: #cacaca;
        --primary-high: #d3d2d2;
        --primary-very-high: #cacaca;
        --primary-50: #979797;
        --primary-100: #cecccc;
        --primary-200: #c0bebe;
        --primary-300: #cecbcb;
        --primary-400: #e7e7e7;
        --primary-500: #e9e8e8;
        --primary-600: #eeeeee;
        --primary-700: #f3f1f1;
        --primary-800: #f7f7f7;
        --primary-900: #f8f8f8;
        --header_primary-low: rgb(13, 13, 13);
        --header_primary-low-mid: rgb(255, 255, 255);
        --header_primary-medium: rgb(80, 80, 80);
        --header_primary-high: rgb(109, 109, 109);
        --header_primary-very-high: rgb(161, 161, 161);
        --secondary-low: #b2b2b2;
        --secondary-medium: lightgray;
        --secondary-high: #595959;
        --secondary-very-high: #121212;
        --tertiary-very-low: #181818;
        --tertiary-low: #242424;
        --tertiary-medium: #777777;
        --tertiary-high: #bebebe;
        --tertiary-hover: #f2f2f2;
        --tertiary-50: #181818;
        --tertiary-100: #1d1d1d;
        --tertiary-200: #1f1f1f;
        --tertiary-300: #242424;
        --tertiary-400: #3e3e3e;
        --tertiary-500: #585858;
        --tertiary-600: #777777;
        --tertiary-700: #8f8f8f;
        --tertiary-800: #a7a7a7;
        --tertiary-900: #bebebe;
        --quaternary-low: #083231;
        --highlight-bg: #060606;
        --highlight-low: #060606;
        --highlight-medium: black;
        --highlight-high: #898989;
        --danger-low: #002e2e;
        --danger-low-mid: rgba(0, 155, 154, 0.7);
        --danger-medium: #00d9d8;
        --danger-hover: #5fff00;
        --success-low: #470047;
        --success-medium: #b2ffb2;
        --success-hover: #ff8500;
        --love-low: #0116f1;
        --wiki: purple;
        --blend-primary-secondary-5: rgb(6, 6, 6);
        --primary-med-or-secondary-med: #777777;
        --primary-med-or-secondary-high: #777777;
        --primary-high-or-secondary-low: #a7a7a7;
        --primary-low-mid-or-secondary-high: #474747;
        --primary-low-mid-or-secondary-low: #474747;
        --primary-or-primary-low-mid: #ffffff;
        --highlight-low-or-medium: #060606;
        --tertiary-or-tertiary-low: #ffffff;
        --tertiary-low-or-tertiary-high: #242424;
        --tertiary-med-or-tertiary: #777777;
        --secondary-or-primary: #111111;
        --tertiary-or-white: #ffffff;
        --facebook-or-white: #ff9900;
        --twitter-or-white: white;
        --hljs-comment: #667;
        --hljs-number: #660;
        --hljs-string: #3ab;
        --hljs-literal: #ba7;
        --hljs-tag: #ff7f80;
        --hljs-attribute: #ff7f7f;
        --hljs-symbol: #66f;
        --hljs-bg: #070707;
        --hljs-builtin-name: #bebebe;
        --google: #111111;
        --google-hover: #0d0d0d;
        --instagram: #1ecf93;
        --instagram-hover: #53e9b7;
        --facebook: #ff9900;
        --facebook-hover: #ffb200;
        --cas: #8b459e;
        --twitter: #ffffff;
        --github: #efefe0;
        --github-hover: #b9c1bd;
        --discord: #d87625;
        --discord-hover: #b19566;
        --gold: rgb(24, 60, 255);
        --silver: #3f3f3f;
        --bronze: #3280cd;
        --shadow-modal: 0 8px 60px rgba(255, 255, 255, 0.6);
        --shadow-composer: 0 -1px 40px rgba(255, 255, 255, 0.12);
        --shadow-menu-panel: 0 8px 12px rgba(255, 255, 255, 0.15);
        --shadow-card: 0 4px 14px rgba(255, 255, 255, 0.15);
        --shadow-dropdown: 0 2px 12px 0 rgba(255, 255, 255, 0.1);
        --shadow-header: 0 0 0 1px var(--primary-low);
        --shadow-footer-nav: 0 0 2px 0 rgba(255, 255, 255, 0.2);
        --shadow-focus-danger: 0 0 6px 0 var(--danger);
        --float-kit-arrow-stroke-color: var(--primary-low);
        --float-kit-arrow-fill-color: var(--secondary);
    }

    .title > a {
        background-image: url(https://raw.githubusercontent.com/autonity/autonity-media-kit/main/03_autonity-wordmark/autonity-wordmark-white-withborders.svg);
      }
}
.title > a {
width: 195px;
height: 42px;
background-size: contain;
background-repeat: no-repeat;

}

.title > a >img {
    display: none;
}

@font-face {
  font-family: Berkeley;
  src: url($BerkeleyMonoVariable-Regular) format('woff2');
}

html { 
    font-variation-settings: 'wght' 110;
}

body, span, p { 
    font-family: Berkeley;
}

.link-top-line, .btn { 
    font-family: Berkeley;
}

th > span {
    font-family: Berkeley !important;
}

tbody {
    border-top: 3px solid var(--primary);
}

h1, h2, h3, h4, h5, h6, a, th {
    font-family: Berkeley;
}

.topic-list-item, tr {
    border-bottom: 1px solid var(--primary);
}

.topic-list-header > tr { 
    border-bottom: 1px solid var(--primary);
}

table th {
    font-weight: normal;
    color: var(--primary);
    text-align: left;
}

.number { 
    font-family: Berkeley;
    color: var(--primary);
}

.post-activity { 
    font-family: Berkeley;
    color: var(--primary);
}
.fancy-title {
    font-weight: 400;
}

#topic-title .title-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 5px;
}

.list-controls .combo-box .combo-box-header {
    border: 2px solid var(--primary-medium);
}

.btn-primary {
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: var(--font-0);
    line-height: normal;
    box-sizing: border-box;
    padding: .5em .65em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-weight: normal;
    color: var(--secondary);
    background-color: var(--tertiary);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    border-radius: var(--d-button-border-radius);
    transition: var(--d-button-transition);
    cursor: pointer;
}

.discourse-no-touch .btn:hover, .discourse-no-touch .d-modal.json-schema-editor-modal .je-ready button:hover, .d-modal.json-schema-editor-modal .je-ready .discourse-no-touch button:hover, .discourse-no-touch .d-modal.json-schema-editor-modal .je-ready .json-editor-btn-add:hover, .d-modal.json-schema-editor-modal .je-ready .discourse-no-touch .json-editor-btn-add:hover, .discourse-no-touch .btn.btn-hover, .discourse-no-touch .d-modal.json-schema-editor-modal .je-ready button.btn-hover, .d-modal.json-schema-editor-modal .je-ready .discourse-no-touch button.btn-hover, .discourse-no-touch .d-modal.json-schema-editor-modal .je-ready .btn-hover.json-editor-btn-add, .d-modal.json-schema-editor-modal .je-ready .discourse-no-touch .btn-hover.json-editor-btn-add {
    background-color: var(--primary-medium);
    color: var(--primary-400);
}

a.edit-topic {
    margin-left: 8px;
}

.btn.no-text.fk-d-menu__trigger:hover .number, 
.btn.no-text.fk-d-menu__trigger:hover .topic-map__stat-label {
    color: var(--secondary-very-high)
}

.btn.no-text.fk-d-menu__trigger {
    padding: 4px 12px;
}

aside.onebox {
    border: 5px solid var(--primary);
}
